/*@media (max-width: 575.98px) {*/

body{
    margin:0 auto;
    font-family: 'anton regular', sans-serif;
    background-color:#E6E6E6;

}

h1{
    font-family: 'Anton Regular',sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-align:center;
}

h2{
    font-family: 'Abel',sans-serif;
}

h2.text-center-park{
    font-family: 'Anton Regular',sans-serif;
    font-weight: bold;
    font-size:20px;
    /*margin:0 auto;*/
}
.ipad-apple{
    border: 4px solid lightgray;
    border-radius: 3%;

}
p{
    font-family: 'Abel', sans-serif;
}

div.text-center{
    background-color: #F0F0F0;
    height:3em;
    margin-top:3em;
    /*width:100%;*/
}

.rounded{
    margin: 0 auto;
    position: relative;
    top: -2em;

}

.col{
    padding:0;
}

.nav-item a{
    color: black;
}
.nav{
    margin:0 auto;
}
ul{
    font-family:'Abel', sans-serif;
}

.container-circle{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Anton ',sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.dot1 {
    height: 150px;
    width: 150px;
    background-color: #E6563B;
    border-radius: 50%;
    border:solid 8px white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot2 {
    height: 150px;
    width: 150px;
    background-color: #DEA03D;
    border-radius: 50%;
    border:solid 8px white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot3 {
    height: 150px;
    width: 150px;
    background-color: #7CB06C;
    border-radius: 50%;
    border:solid 8px white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot4 {
    height: 150px;
    width: 150px;
    background-color: #00ABA9;
    border-radius: 50%;
    border:solid 8px white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-circle1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /*text-align: center;*/
    font-family: 'Anton Regular',sans-serif;
    font-weight:bolder;
    color: black;
    font-size: 10px;
}
.sm-dot1{
    height: 18px;
    width: 18px;
    background-color: #E6563B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sm-dot2{
    height: 18px;
    width: 18px;
    background-color: #DEA03D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sm-dot3{
    height: 18px;
    width: 18px;
    background-color: #7CB06C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sm-dot4{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00ABA9;
}
.sm-dot{
   display: flex;
    flex-direction: row;

}
.text-left-feat{
    font-size: 15px;
    font-family: "Abel", sans-serif;
}
.text-center-selected-work{
    font-family: "Abel", sans-serif;
    text-align: center;
    font-size: 20px;
}
.small-nav1{
    list-style: none;
    position: relative;
    top: -3em;
    left: 0.5em;

}

.small-nav2{
    list-style: none;
    position: relative;
    top: -3em;
    left: 7em;

}
/*}*/
/* need to add rows, nav-bar, H1 positioning and margins, flexbox in the circles, margins in between the circles and selected work, shadow border